body{
    background-color: orangered;
    
}
h1{
    color: whitesmoke;
    text-align: center;
}
.first{
    display: flex;
}
.per1{
    background-color: aliceblue;
    display: flex;
    margin-right: 20px;
    border-radius: 10px;
}
.per2{
    background-color: aliceblue;
    display: flex;
    border-radius: 10px;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
.name{
    display: inline;
}
.sec{
    display: flex;
    margin-top: 20px;
}